.header {
  font-size: 50px;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
}




.divider {
  border: 1px solid black;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.risk {
  text-align: left;
  font-size: medium;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  line-height: 28px;
  width: 65vw;
}

.span {
  height: 1px;
  border: 0;
}

.main {
  color: white;
  background-color: rgb(16,16,16);
}

.container {
  display: block;
  margin: auto;
  width: 70%;
  
}

.desc {
  margin-top: -12px;
  padding-bottom: 10px;
  font-weight: 100;
  letter-spacing: .05ch;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.by {
  font-weight: 100;
  color: grey;
}

.tag {
  font-weight: 300;
  font-size: smaller;
  margin-top: -10px;
}

.rordesc {
  max-width: 10px;
}

.video {
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}

.related {
  padding-left: 5px;
  transform: translateY(0px);
  display: block;
  color: white;
  }

.reminder {
  margin-top: 52px;
  font-weight: 100;
  color: aliceblue;
}

.newt {
  display: flex;
  gap: 20px;
}